{% extends "base.html" %}
{% block base %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Araba Servisi Kayıt Formu</h2>
        <form method="post" action="{% url 'service_create' %}">
            {% csrf_token %}
            <div class="form-group">
                    <label for="carModel">Araba Modeli</label>
                    <select name="service_model" class="form-control" id="carModel" required>
                        <option value="" disabled selected>Seçiniz</option>
                        {% for car in solded_cars  %}
                        <option value="{{ car.car_id }}">{{ car.model }}</option>
                        {% endfor %}
                    </select>
            
            </div>
            <div class="form-group">
                <label for="serviceType">Servis Türü</label>
                <select name="service_type" class="form-control" id="serviceType" required>
                    <option value="" disabled selected>Seçiniz</option>
                    <option value="bakim">Bakım</option>
                    <option value="tamir">Tamir</option>
                    <option value="lastik">Lastik Değişimi</option>
                    <option value="diğer">Diğer</option>
                </select>
            </div>
            <div class="form-group">
                <label for="serviceDate">Servis Tarihi</label>
                <input type="date" name="service_date" class="form-control" id="serviceDate" required>
            </div>
            <div class="form-group">
                <label for="additionalNotes">Ek Notlar</label>
                <textarea class="form-control" name="service_notes" id="additionalNotes" rows="3" placeholder="Ek bilgilerinizi buraya ekleyebilirsiniz."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>

{% endblock %}
```