{% extends "base.html" %}

{% block base  %}
<div class="container mt-5">
    <h2 class="mb-4">Araba Satışları</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Model</th>
                <th scope="col">Satış Tarihi</th>
                <th scope="col">Alıcı Adı</th>
                <th scope="col">Fiyat</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.user_id }}</td>
                <td>{{ sale.model }}</td>
                <td>{{ sale.sold_date }}</td>
                <td>{{ sale.username }}</td>
                <td>{{ sale.price }} TL</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}

