{% extends "base.html" %}

{% block base %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Servis Kayıtları</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Araba Model</th>
                <th>İsim Soyisim</th>
                <th>Servis Türü</th>
                <th>Ek Notlar</th>
            </tr>
        </thead>
        <tbody>
            {% for servis in servisler %}
                <tr>
                    <td>{{ servis.car_model }}</td>
                    <td>{{ servis.user }}</td>
                    <td>{{ servis.types }}</td>
                    <td>{{ servis.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock base %}